.services {
  padding: 80px;
  text-align: center;
  background: #ffffff;
}

.services-subtitle {
  color: #c21875;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.services h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin-bottom: 50px;
}

.services h2 span {
  color: #c21875;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.service-card {
  position: relative;
  background: #f8f1f3;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.service-icon {
  width: 60px;
  height: 60px;
  background: white;
  color: #c21875;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 170px;
  left: 20px;

  font-size: 26px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.service-card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 50px 15px 10px;
}

.service-card p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 0 15px 20px;
}



@media (max-width: 1024px) {

  .services-container {
    padding: 60px 40px;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .service-card {
    width: 100%;
    max-width: none;
  }

  .service-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .service-card h3 {
    font-size: 24px;
  }

  .service-card p {
    font-size: 16px;
    line-height: 1.6;
  }
}


@media (max-width: 768px) {

  .services {
    width: 100%;
    max-width: 430px;
    min-height: 400px;
    padding: 20px;
    margin: 0 auto;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 20px;
  }

  .service-card {
    width: 100%;
    padding: 10px;
  }

  .service-card img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 12px;
  }

  .service-card h3 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .service-card p {
    font-size: 12px;
    line-height: 1.4;
  }

  .service-icon {
    display: none;
  }

  .services h2 {
    font-size: 40px !important;
    line-height: 1.1;
    margin-bottom: 10px;
}
}